.right{
    background-color: white;
    /* padding: 10px 15px; */
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgb(219, 219, 219);
    
    height: fit-content;
    /* display: flex; */
}

.paraUl{
    font-size: 12px;
    padding: 10px;
    /* padding-left: 12px; */
}

.paraUl>ul{
    padding: 10px;
}
.paraUl>ul:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.paraUl >ul > li{
    /* margin-bottom: 12px; */
    font-size: 14px;
    color: gray;
    list-style:circle;
}

li>a{
    color: black;
}

.rightContents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.showMore{
    background: transparent;
    border: transparent;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    letter-spacing: -0.1px;
}